// Reset

@import "./reset.css";

// Vars

:root {
  --opacity: 1;
  --background: 231, 229, 228;
  --foreground: 28, 25, 23;
  --yellow: 238, 255, 47;
}

::selection {
  background: rgb(var(--yellow));
}

// Base elements

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

img {
  user-select: none;
}

label {
  font-size: 1.25rem;
}

input {
  outline: 0.125rem solid rgb(var(--foreground));
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  max-width: max-content;

  &.btn {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    background: rgb(var(--yellow));

    &::after {
      content: url(data-url:../img/chevron.svg);
      height: 1.25rem;
      width: 1.25rem;
      transform: translateY(-2px);
    }

    &.btn-ghost {
      background: rgb(var(--background));
    }
  }
}

header {
  border-bottom: 0.125rem solid rgb(var(--foreground));

  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
    padding: 0 1rem;
  }
}

main {
  min-height: 80vh;

  #hero {
    padding: 8rem 1rem 0 1rem;

    .hero-line {
      width: 8rem;
      height: 0.25rem;
      background: rgb(var(--foreground));
      margin: 2rem 0;
    }
  }

  #login-greeting {
    padding: 8rem 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

footer {
  border-top: 0.125rem solid rgb(var(--foreground));

  .footer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
    padding: 0 1rem;
  }
}

#dialog {
  --opacity: 0.95;
  background: rgba(var(--background), 0.95);
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;

  #dialog-content {
    background: rgb(var(--background));
    border: 0.125rem solid rgb(var(--foreground));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;

    #dialog-close {
      display: flex;
      gap: 0.25rem;
    }

    #auth-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
      }
    }
  }
}

// Classes

.container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

// Media queries

// Tablet and larger
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .container {
    max-width: 768px;
  }

  #login-greeting {
    padding: 0 16rem;
  }
}

// Desktop and larger
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

// Animations
